timm==0.4.12
pytest
chardet
yacs
termcolor
submitit
tensorboardX
triton
causal_conv1d
mamba_ssm
scikit-learn
matplotlib
thop
h5py
SimpleITK
scikit-image
medpy
segment_anything
ultralytics
monai
tqdm
setuptools
